# Config the Yocto kernel-yocto recipe
CONFIG_LOCALVERSION_AUTO=n

# common/firmware-edid.cfg
CONFIG_FIRMWARE_EDID=y

# rzg2l-sbc/laird.cfg -- WiFi/Bluetooth for the Laird module on RZG2L-SBC
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_CRYPTO_ECDH=y
CONFIG_BRCMFMAC=m
CONFIG_BRCMUTIL=m
CONFIG_BT=m
CONFIG_BT_LE=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_MTK=m
CONFIG_BT_RTL=m

# rzg2l-sbc/touch.cfg -- RZG2L-SBC
CONFIG_I2C=y
CONFIG_INPUT=y
CONFIG_HID_MULTITOUCH=y
CONFIG_RZSBC_MCU=y
CONFIG_TOUCHSCREEN_RZSBC_FT5406=y
CONFIG_DEBUG_LL=y
CONFIG_EARLY_PRINTK=y
